---
import { getCollection } from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro';

const recipes = await getCollection('recipes');
---

<BaseLayout title="Recept">
	<ul>
		{recipes.map(recipe => (
			<li>
				<h3><a href={`/recipes/${recipe.id}`}>{recipe.data.title}</a></h3>
			</li>
		))}
	</ul>
</BaseLayout>
