---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";

const recipes = await getCollection("recipes");
---

<BaseLayout title="Recept">
  <div class="prose mx-auto py-12 px-6 bg-base-100 card card-border border-base-300">
    <ul>
      {
        recipes.map((recipe) => (
          <li>
            <h3>
              <a href={`/recipes/${recipe.id}`}>{recipe.data.title}</a>
            </h3>
          </li>
        ))
      }
    </ul>
  </div>
</BaseLayout>
